@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Semibold.ttf); }

@font-face {
  font-family: "Open Sans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: "Amble";
  src: url(../fonts/Amble-Regular.ttf); }

body {
  font-family: "Open Sans-Regular";
  color: #414042; }

h1, h2, h3 {
  font-family: "Amble";
  color: #414042; }

a {
  color: #414042; }

a:hover {
  color: #898989;
  text-decoration: none; }

.btn {
  border: 1px solid #eb050e;
  font-size: 20px;
  font-family: "Open Sans-Regular";
  padding-top: 3px; }

.btn-default {
  color: #fff;
  background-color: #eb050e;
  border-color: #eb050e; }

.btn-default:hover {
  background-color: #eb050e;
  border-color: #eb050e;
  color: #414042; }

.bs-docs-container {
  padding-top: 10px; }

.navbar-inverse {
  background-color: #fff;
  border-color: #a1a1a1;
  -webkit-box-shadow: 0px 2px 3px 0px #acacac;
  -moz-box-shadow: 0px 2px 3px 0px #acacac;
  box-shadow: 0px 2px 3px 0px #acacac;
  font-family: "Amble";
  font-size: 18px; }

.navbar-inverse .navbar-header {
  margin: 13px 15px 0 0; }

.navbar-toggle {
  background-color: #414042;
  margin-top: 0; }
  @media (max-width: 480px) {
    .navbar-toggle {
      margin-right: 0; } }

.navbar-inverse a,
.navbar-inverse .navbar-nav > li > a {
  color: #414042; }

.navbar-inverse a.active,
.navbar-inverse .navbar-nav > .active a {
  color: #898989;
  background-color: #fff; }

.navbar-inverse .navbar-nav > li > a:hover {
  color: #898989; }

.nav > li:last-child > a {
  padding-right: 0; }

.navbar-brand {
  float: none;
  position: absolute;
  left: 44%;
  top: 15px;
  padding-top: 0; }
  @media (max-width: 767px) {
    .navbar-brand {
      margin-top: 6px;
      left: 40%; } }
  @media (max-width: 480px) {
    .navbar-brand {
      left: 30%; } }

.search .form-control {
  width: 265px;
  height: 36px;
  font-size: 16px;
  font-family: "Open Sans-Regular";
  border: 2px solid #959595;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: inline; }
  @media (max-width: 992px) {
    .search .form-control {
      width: 240px; } }
  @media (max-width: 480px) {
    .search .form-control {
      width: 220px; } }

.search .btn {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 36px; }

.index .col-sm-6 {
  text-align: center; }
  .index .col-sm-6 h1 {
    color: #414042;
    font-weight: bold;
    margin-top: 60px;
    font-size: 58px; }
    @media (max-width: 992px) {
      .index .col-sm-6 h1 {
        font-size: 52px; } }
    @media (max-width: 480px) {
      .index .col-sm-6 h1 {
        font-size: 48px; } }
  .index .col-sm-6 strong {
    color: #eb050e; }
  .index .col-sm-6 h2 {
    font-weight: normal;
    margin-top: 10px; }
    @media (max-width: 992px) {
      .index .col-sm-6 h2 {
        font-size: 28px; } }
    @media (max-width: 480px) {
      .index .col-sm-6 h2 {
        font-size: 26px; } }
  .index .col-sm-6 .search {
    margin-top: 50px; }
    @media (max-width: 767px) {
      .index .col-sm-6 .search {
        margin-top: 30px;
        margin-bottom: 20px; } }
  .index .col-sm-6 .carousel-inner .item {
    margin: 30px auto 0 auto; }
  .index .col-sm-6 .carousel-inner .active {
    display: table; }
  .index .col-sm-6 .carousel-inner img {
    display: inline;
    max-height: 260px; }
  .index .col-sm-6 .carousel-indicators {
    top: 105%;
    left: 45%; }
  .index .col-sm-6 .carousel-indicators .active {
    background-color: #eb050e; }
  .index .col-sm-6 .carousel-indicators li {
    background-color: #636363;
    border: none; }
  .index .col-sm-6 .carousel-caption {
    position: absolute;
    top: 70%;
    left: 64%;
    height: 80px;
    width: 230px;
    background-color: #f6f6f6;
    text-align: left;
    font-size: 20px;
    padding: 0 12px 0 0;
    text-shadow: none; }
    @media (max-width: 1199px) {
      .index .col-sm-6 .carousel-caption {
        left: 50%; } }
    @media (max-width: 992px) {
      .index .col-sm-6 .carousel-caption {
        left: 10%; } }
    .index .col-sm-6 .carousel-caption h3 {
      font-size: 20px;
      margin: 10px; }
    .index .col-sm-6 .carousel-caption span {
      color: #eb050e;
      margin-left: 10px; }
    .index .col-sm-6 .carousel-caption a:hover img {
      width: 35px;
      height: 35px; }
    .index .col-sm-6 .carousel-caption img {
      float: right;
      margin-top: -10px; }
.index .menu {
  background-color: #414042;
  margin-top: 70px;
  border-radius: 0;
  padding-top: 10px;
  background: -webkit-linear-gradient(top, #363636 0%, #555555 50%, #363636 100%);
  background: -moz-linear-gradient(top, #363636 0%, #555555 50%, #363636 100%);
  background: -o-linear-gradient(top, #363636 0%, #555555 50%, #363636 100%);
  background: -ms-linear-gradient(top, #363636 0%, #555555 50%, #363636 100%);
  background: linear-gradient(to bottom, #363636 0%, #555555 50%, #363636 100%); }
  @media (max-width: 1199px) {
    .index .menu {
      padding-bottom: 10px; } }
  .index .menu ul {
    color: #fff;
    font-size: 20px;
    font-family: "Amble"; }
    .index .menu ul li {
      padding-right: 31px; }
    .index .menu ul li:last-child {
      padding-right: 0; }
    .index .menu ul a {
      color: #fff;
      padding: 0; }
    .index .menu ul a:hover {
      background-color: transparent;
      color: #898989; }
.index .item-content {
  padding-top: 0; }
  .index .item-content h3 {
    color: #eb050e;
    margin-top: 10px; }
.index .item-content .placeholders {
  margin-top: 50px; }
  @media (max-width: 767px) {
    .index .item-content .placeholders .col-sm-3 {
      margin-bottom: 30px; } }
  .index .item-content .placeholders img {
    height: 192px;
    margin: 0 auto; }
    @media (max-width: 1199px) {
      .index .item-content .placeholders img {
        height: 150px; } }
    @media (max-width: 992px) {
      .index .item-content .placeholders img {
        height: 116px; } }
    @media (max-width: 767px) {
      .index .item-content .placeholders img {
        height: 150px; } }
    @media (max-width: 480px) {
      .index .item-content .placeholders img {
        height: 110px; } }
  .index .item-content .placeholders .separator {
    border-top: dashed 1px #acacac;
    border-bottom: dashed 1px #acacac;
    margin: 20px 0 0 0;
    padding: 10px 0; }
    .index .item-content .placeholders .separator span.price {
      font-size: 16px;
      color: #252525; }
    .index .item-content .placeholders .separator span.timer {
      float: right;
      color: #898989; }
    .index .item-content .placeholders .separator p {
      height: 40px; }
      @media (max-width: 1199px) {
        .index .item-content .placeholders .separator p {
          height: 60px; } }
      @media (max-width: 992px) {
        .index .item-content .placeholders .separator p {
          height: 80px; } }
      @media (max-width: 767px) {
        .index .item-content .placeholders .separator p {
          height: 60px; } }
      @media (max-width: 480px) {
        .index .item-content .placeholders .separator p {
          height: 80px; } }

/* Footer - START */
.bs-footer {
  background-color: #414042;
  color: #fff;
  margin-top: 100px;
  padding: 30px 0 40px 0; }
  @media (max-width: 767px) {
    .bs-footer {
      margin-top: 70px; } }
  .bs-footer p {
    margin-bottom: 5px; }
  .bs-footer .separator1,
  .bs-footer .separator2,
  .bs-footer .separator3 {
    border-top: 1px solid #6a6a6b;
    margin-bottom: 20px; }
  .bs-footer .separator1,
  .bs-footer .separator2 {
    margin-right: -15px; }
  .bs-footer .separator2,
  .bs-footer .separator3 {
    margin-left: -15px; }
  .bs-footer li {
    padding: 0 20px 10px 0; }
  .bs-footer .nav > li > a {
    color: #fff;
    padding: 0; }
  .bs-footer .nav > li > a:hover {
    background-color: transparent;
    color: #898989; }
  .bs-footer .col-sm-3 li.fb {
    width: 56px; }
  .bs-footer .col-sm-3 a:hover img {
    width: 35px;
    height: 35px; }
  @media (max-width: 767px) {
    .bs-footer .col-sm-3 {
      margin-top: 20px; } }

/* Footer - END */
