@font-face {
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
	font-family: "Open Sans-Regular";
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
      font-family: "Amble";
      src: url(../fonts/Amble-Regular.ttf);
}

$primary-font: "Open Sans";
$primary-font-regular: "Open Sans-Regular";
$second-font: "Amble";
$color-gray: #898989;
$color-black: #414042;
$color-red: #eb050e;

body {
	font-family: $primary-font-regular;
	color: $color-black;
}

h1, h2, h3 {
	font-family: $second-font;
}

a {
	color: $color-black;
}

a:hover {
	color: $color-gray;
	text-decoration: none;
}

.btn {
	border: 1px solid $color-red;
	font-size: 20px;
	font-family: $primary-font-regular;
	padding-top: 3px;
}

.btn-default {
	color: #fff;
	background-color: $color-red;
	border-color: $color-red;
}

.btn-default:hover {
	background-color: $color-red;
	border-color: $color-red;
	color: $color-black;
}
	

.bs-docs-container {
	padding-top: 10px;
}

.navbar-inverse {
	background-color: #fff;
	border-color: #a1a1a1;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(172,172,172,1);
	-moz-box-shadow: 0px 2px 3px 0px rgba(172,172,172,1);
	box-shadow: 0px 2px 3px 0px rgba(172,172,172,1);
	font-family: $second-font;
	font-size: 18px;
}

.navbar-inverse .navbar-header {
	margin: 13px 15px 0 0;
}

.navbar-toggle {
	background-color: $color-black;
	margin-top: 0;

	@media(max-width: 480px) {
		margin-right: 0;
	}
}

.navbar-inverse a,
.navbar-inverse .navbar-nav > li > a {
	color: $color-black;
}

.navbar-inverse a.active,
.navbar-inverse .navbar-nav > .active a {
	color: $color-gray;
	background-color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: $color-gray;
}

.navbar-brand {
	float: none;
	position: absolute;
	left: 44%;
	top: 15px;
	padding-top: 0;

	@media(max-width: 767px) {
		margin-top: 6px;
		left: 40%;
	}

	@media(max-width: 480px) {
		left: 30%;
	}
}

.search .form-control {
	width: 265px;
	height: 36px;
	font-size: 16px;
	font-family: $primary-font-regular;
	border: 2px solid #959595;
	border-radius: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	display: inline;

	@media(max-width: 992px) {
		width: 240px;
	}

	@media(max-width: 480px) {
		width: 220px;
	}
}

.search .btn {
	border-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 36px;
}

.index {
	.col-sm-6 {
		text-align: center;

		h1 {
			color: $color-black;
			font-weight: bold;
			margin-top: 60px;
			font-size: 58px;

			@media(max-width: 992px) {
				font-size: 52px;
			}

			@media(max-width: 480px) {
				font-size: 48px;
			}
		}

		strong {
			color: $color-red;
		}

		h2 {
			font-weight: normal;
			margin-top: 10px;

			@media(max-width: 992px) {
				font-size: 28px;
			}

			@media(max-width: 480px) {
				font-size: 26px;
			}
		}

		.search {
			margin-top: 50px;

			@media(max-width: 767px) {
				margin-top: 30px;
				margin-bottom: 20px;
			}
		}

		.carousel-inner .item {
			margin: 30px auto 0 auto;
		}

		.carousel-inner .active {
			display: table;
		}

		.carousel-inner img {
			display: inline;
			max-height: 260px;
		}

		.carousel-indicators {
			top: 105%;
			left: 40%;

			@media(max-width: 992px) {
				left: 25%;
			}
		}

		.carousel-indicators .active {
			background-color: $color-red;
		}

		.carousel-indicators li {
			background-color: #636363;
			border: none;
		}

		.carousel-item-name {
			position: absolute;
			top: 82%;
			right: 0;
			height: 80px;
			width: 220px;
			background-color: #f6f6f6;
			text-align: left;
			font-size: 20px;
		}
	}

	.menu {
		background-color: $color-black;
		margin-top: 70px;
		border-radius: 0;
		padding-top: 10px;
		background: -webkit-linear-gradient(top,#363636 0%,#555 50%,#363636 100%);
		background: -moz-linear-gradient(top,#363636 0%,#555 50%,#363636 100%);
		background: -o-linear-gradient(top,#363636 0%,#555 50%,#363636 100%);
		background: -ms-linear-gradient(top,#363636 0%,#555 50%,#363636 100%);
		background: linear-gradient(to bottom,#363636 0%,#555 50%,#363636 100%);

		@media(max-width: 1199px) {
			padding-bottom: 10px;
		}

		ul {
			color: #fff;
			font-size: 20px;
			font-family: $second-font;

			li {
				padding-right: 31px;
			}

			li:last-child {
				padding-right: 0;
			}

			a {
				color: #fff;
				padding: 0;
			}

			a:hover {
				background-color: transparent;
				color: $color-gray;
			}
		}
	}

	.item-content {
		padding-top: 0;

		h3 {
			color: $color-red;
			margin-top: 10px;
		}
	}

	.item-content .placeholders {
		margin-top: 50px;

		.col-sm-3 {
			@media(max-width: 767px) {
					margin-bottom: 30px;
				}
		}

		img {
			height: 192px;
			margin: 0 auto;
			
			@media(max-width: 1199px) {
				height: 150px;
			}

			@media(max-width: 992px) {
				height: 116px;
			}

			@media(max-width: 767px) {
				height: 150px;
			}

			@media(max-width: 480px) {
				height: 110px;
			}
		}

		.separator {
			border-top: dashed 1px #acacac;
			border-bottom: dashed 1px #acacac;
			margin: 20px 0 0 0;
			padding: 10px 0;

			span.price {
				font-size: 16px;
				color: #252525;
			}

			span.timer {
				float: right;
				color: $color-gray;
			}

			p {
				height: 40px;

				@media(max-width: 1199px) {
					height: 60px;
				}

				@media(max-width: 992px) {
					height: 80px;
				}

				@media(max-width: 767px) {
					height: 60px;
				}

				@media(max-width: 480px) {
					height: 80px;
				}
			}
		}
	}	
}

/* Footer */

.bs-footer {
	background-color: $color-black;
	color: #fff;
	margin-top: 100px;
	padding: 30px 0 40px 0;

	@media(max-width: 767px) {
		margin-top: 70px;
	}

	p {
		margin-bottom: 5px;
	}

	.separator1,
	.separator2,
	.separator3 {
		border-top: 1px solid #6a6a6b;
		margin-bottom: 20px;
	}

	.separator1,
	.separator2 {
		margin-right: -15px;
	}

	.separator2,
	.separator3 {
		margin-left: -15px;
	}

	li {
		padding: 0 20px 10px 0;
	}

	.nav > li > a {
		color: #fff;
		padding: 0;
	}

	.nav > li > a:hover {
		background-color: transparent;
		color: $color-gray;
	}

	.col-sm-3 li.fb {
		width: 56px;
	}

	.col-sm-3 a:hover img {
		width: 35px;
		height: 35px;
	}

	.col-sm-3 {
		@media(max-width: 767px) {
			margin-top: 20px;
		}
	}
}