@font-face {
	font-family: "Open Sans - Regular";
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Light.ttf);
	src: url(../fonts/OpenSans-Semibold.ttf);
	src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
      font-family: "Amble";
      src: url(../fonts/Amble-Regular.ttf);
}

$primary-font: "Open Sans - Regular";
$second-font: "Amble";
$color-gray: #898989;
$color-black: #414042;
$color-red: #eb050e;
$border-light: 1px solid #ebebeb;

@mixin box-shadow {
	border: $border-light;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(137, 137, 137, 0.4);
	-moz-box-shadow: 0px 1px 3px 0px rgba(137, 137, 137, 0.4);
	box-shadow: 0px 1px 3px 0px rgba(137, 137, 137, 0.4);
}

body {
	font-family: $primary-font;
	color: $color-black;
}

h1, h2, h3, h4 {
	font-family: $second-font;
	color: $color-black;
}

h1 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

a {
	color: $color-black;
}

.navbar-inverse a,
a:hover {
	color: $color-gray;
	text-decoration: none;
}

.btn {
	border: 1px solid $color-red;
	font-size: 20px;
	font-family: $second-font;
	padding-top: 3px;
}

.btn-default {
	color: #fff;
	background-color: $color-red;
	border-color: $color-red;
}

.btn-default:hover {
	background-color: $color-red;
	border-color: $color-red;
	color: $color-black;
}

.btn-success {
	border-radius: 2px;
	height: 34px;
	min-width: 84px;
	padding: 0 15px;
	font-size: 24px;
	font-weight: bold;
	background-image: -ms-linear-gradient(top, #E61B23 0%, #CA181F 100%);
	background-image: -moz-linear-gradient(top, #E61B23 0%, #CA181F 100%);
	background-image: -o-linear-gradient(top, #E61B23 0%, #CA181F 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E61B23), color-stop(1, #CA181F));
	background-image: -webkit-linear-gradient(top, #E61B23 0%, #CA181F 100%); 
	background-image: linear-gradient(to bottom, #E61B23 0%, #CA181F 100%);
}

.btn-success:hover {
	background-color: $color-red;
	border-color: $color-red;
	color: $color-black;
}

.btn-primary {
	background-color: $color-black;
	border-color: $color-black;
	font-size: 18px;
	padding: 1px 8px 2px;
	border-radius: 2px;
	background-image: -ms-linear-gradient(top, #535254 0%, #454446 100%);
	background-image: -moz-linear-gradient(top, #535254 0%, #454446 100%);
	background-image: -o-linear-gradient(top, #535254 0%, #454446 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #535254), color-stop(1, #454446));
	background-image: -webkit-linear-gradient(top, #535254 0%, #454446 100%); 
	background-image: linear-gradient(to bottom, #535254 0%, #454446 100%);
}
	
.btn-primary:hover {
	background-color: $color-black;
	border-color: $color-black;
	color: #d7d7d7;
}

.bs-docs-container {
	padding-top: 10px;
}

.navbar-inverse {
	background-color: #fff;
	border-color: #a1a1a1;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(172,172,172,1);
	-moz-box-shadow: 0px 2px 3px 0px rgba(172,172,172,1);
	box-shadow: 0px 2px 3px 0px rgba(172,172,172,1);
	font-family: $second-font;
	font-size: 18px;
}

.navbar-inverse .navbar-header {
	margin: 13px 15px 0 0;
}

.navbar-toggle {
	background-color: $color-black;
	margin-top: 0;

	@media(max-width: 480px) {
		margin-right: 0;
	}
}

.navbar-inverse a,
.navbar-inverse .navbar-nav > li > a {
	color: $color-black;
}

.navbar-inverse a.active,
.navbar-inverse .navbar-nav > .active a {
	color: $color-gray;
	background-color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: $color-gray;
}

.nav > li:last-child > a {
	padding-right: 0;
}

.navbar-brand {
	float: none;
	position: absolute;
	left: 44%;
	top: 15px;
	padding-top: 0;

	@media(max-width: 767px) {
		margin-top: 6px;
		left: 40%;
	}

	@media(max-width: 480px) {
		left: 30%;
	}
}

.search .form-control {
	width: 265px;
	height: 36px;
	font-size: 16px;
	font-family: $primary-font;
	border: 2px solid #959595;
	background-color: #fff;
	border-radius: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	display: inline;

	@media(max-width: 992px) {
		width: 240px;
	}

	@media(max-width: 480px) {
		width: 220px;
	}
}

.search .btn {
	border-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 36px;
	margin-left: -2px;
}

.form-control,
input[type="text"] {
	border: 1px solid #ebebeb;
	border-radius: 2px;
	background-color: #f6f6f6;
	-webkit-box-shadow: inset 0 1px 1px rgba(235, 235, 235, 0.005);
    	box-shadow: inset 0 1px 1px rgba(235, 235, 235, 0.005);
}

input[type="text"] {
	height: 34px;
}

/* Homepage */
.index {
	.col-sm-6 {
		text-align: center;

		h1 {
			color: $color-black;
			font-weight: bold;
			margin-top: 60px;
			font-size: 58px;

			@media(max-width: 992px) {
				font-size: 52px;
			}

			@media(max-width: 480px) {
				font-size: 48px;
			}
		}

		strong {
			color: $color-red;
		}

		h2 {
			font-weight: normal;
			margin-top: 10px;

			@media(max-width: 992px) {
				font-size: 28px;
			}

			@media(max-width: 480px) {
				font-size: 26px;
			}
		}

		.search {
			margin-top: 50px;

			@media(max-width: 767px) {
				margin-top: 30px;
				margin-bottom: 20px;
			}
		}

		.carousel-inner .item {
			margin: 30px auto 0 auto;
		}

		.carousel-inner .active {
			display: table;
		}

		.carousel-inner img {
			display: inline;
			max-height: 260px;
		}

		.carousel-indicators {
			top: 105%;
			left: 45%;
		}

		.carousel-indicators .active {
			background-color: $color-red;
		}

		.carousel-indicators li {
			background-color: #636363;
			border: none;
		}

		.carousel-caption {
			position: absolute;
			top: 70%;
			left: 64%;
			height: 80px;
			width: 230px;
			background-color: #f6f6f6;
			text-align: left;
			font-size: 20px;
			padding: 0 12px 0 0;
			text-shadow: none;

			@media(max-width: 1199px) {
				left: 50%;
			}

			@media(max-width: 992px) {
				left: 10%;
			}

			h3 {
				margin: 10px;
			}

			span {
				color: $color-red;
				margin-left: 10px;
			}

			a:hover img {
				width: 35px;
				height: 35px;
			}

			img {
				float: right;
				margin-top: -10px;
			}
		}
	}

	.menu {
		background-color: $color-black;
		margin-top: 70px;
		border-radius: 0;
		padding-top: 10px;
		background: -webkit-linear-gradient(top,#363636 0%,#555 50%,#363636 100%);
		background: -moz-linear-gradient(top,#363636 0%,#555 50%,#363636 100%);
		background: -o-linear-gradient(top,#363636 0%,#555 50%,#363636 100%);
		background: -ms-linear-gradient(top,#363636 0%,#555 50%,#363636 100%);
		background: linear-gradient(to bottom,#363636 0%,#555 50%,#363636 100%);

		@media(max-width: 1199px) {
			padding-bottom: 10px;
		}

		ul {
			color: #fff;
			font-size: 20px;
			font-family: $second-font;

			li {
				padding-right: 31px;
			}

			li:last-child {
				padding-right: 0;
			}

			a {
				color: #fff;
				padding: 0;
			}

			a:hover {
				background-color: transparent;
				color: $color-gray;
			}
		}
	}

	.item-content {
		padding-top: 0;

		h3 {
			color: $color-red;
			margin-top: 10px;
		}
	}

	.item-content .placeholders {
		margin-top: 50px;

		.col-sm-3 {
			@media(max-width: 767px) {
				margin-bottom: 30px;
			}
		}

		img {
			height: 192px;
			margin: 0 auto;
			
			@media(max-width: 1199px) {
				height: 150px;
			}

			@media(max-width: 992px) {
				height: 116px;
			}

			@media(max-width: 767px) {
				height: 150px;
			}

			@media(max-width: 480px) {
				height: 110px;
			}
		}

		.separator {
			border-top: dashed 1px #acacac;
			border-bottom: dashed 1px #acacac;
			margin: 20px 0 0 0;
			padding: 10px 0;

			p {
				height: 40px;

				@media(max-width: 1199px) {
					height: 60px;
				}

				@media(max-width: 992px) {
					height: 80px;
				}

				@media(max-width: 767px) {
					height: 60px;
				}

				@media(max-width: 480px) {
					height: 80px;
				}
			}
		}
	}	
}

/* Shared css - index/Category-page/Product-page */

.index,
.category-page,
.product-page {

	 span.price {
		font-size: 16px;
		color: #252525;
	}

	span.timer {
		float: right;
		color: $color-gray;
	}
}

/* Footer - START */

.bs-footer {
	background-color: $color-black;
	color: #fff;
	margin-top: 100px;
	padding: 30px 0 40px 0;

	@media(max-width: 767px) {
		margin-top: 70px;
	}

	p {
		margin-bottom: 5px;
	}

	.separator1,
	.separator2,
	.separator3 {
		border-top: 1px solid #6a6a6b;
		margin-bottom: 20px;
	}

	.separator1,
	.separator2 {
		margin-right: -15px;
	}

	.separator2,
	.separator3 {
		margin-left: -15px;
	}

	li {
		padding: 0 20px 10px 0;
	}

	.nav > li > a {
		color: #fff;
		padding: 0;
	}

	.nav > li > a:hover {
		background-color: transparent;
		color: $color-gray;
	}

	.col-sm-3 li.fb {
		width: 56px;
	}

	.col-sm-3 a:hover img {
		width: 35px;
		height: 35px;
	}

	.col-sm-3 {
		@media(max-width: 767px) {
			margin-top: 20px;
		}
	}
}
/* Footer - END */

/* Category page */
.category-page {
	h1 {
		margin: 0 0 30px 0;
	}
	
	.sidebar-offcanvas {
		@media(max-width: 767px) {
			.sidebar-offcanvas {
				position: absolute;
				top: 0;
				left: -50%;
				width: 50%;
			}
		}

		margin-top: 80px;
		
		.border-vertical {
			border-right: 1px solid #c2c2c2;
		}

		.nav > li > a {
			padding: 0;
		}

		.nav > li > a:hover {
			background-color: transparent;
		}

		li {
			list-style-type: none;

			a {
				font-size: 20px;
				font-family: $second-font;
			}
		}

		ul.active {
			margin-bottom: 20px;
		}

		li.active a {
			color: $color-red;
		}

		li.filter-group {
			font-family: $second-font;
			font-size: 18px;
			padding: 8px 0 0 10px;
		}

		.nav .checkbox {
			margin: 3px 5px 3px 20px;
		}

		.dropdown-menu {
			position: relative;
			border: none;
			float: none;
			box-shadow: none;
			margin-top: 0;
		}
	}

	.main-content {
		margin-top: 80px;

		div.col-6 {
			margin: 4px 0 26px 0;
		}
		
		.product-frame {
			@include box-shadow;
			padding: 10px;
		}

		.img-holder {
			height: 240px;
			padding: 0;
		}

		img {
			max-height: 240px;
			margin: auto;
		}

		p {
			margin-top: 10px;
		}
	}
}

/* Shared css - Category/Product-page */

.category-page .search-form,
.product-page .search-form {
	@media(max-width: 991px) {
		margin: 20px 0;
	}
} 

.category-page .search .form-control,
.product-page .search .form-control {
	width: 186px;
	font-size: 14px;
	height: 34px;
} 

.category-page .search .btn,
.product-page .search .btn {
	font-size: 16px;
	height: 34px;
}

/* Product page */

.product-page {
	
	div.back {
		margin-top: 25px;
	}

	a.back {
		text-decoration: underline;
	}

	.col-md-5 {
		margin-top: 30px;
	

		.product-image-holder {
			@include box-shadow;
			height: 455px;
			padding: 10px;
			margin: auto;
		}

		ul.list-inline {
			margin-top: 20px;

			li {
				display: inline-block;
				width: 32%;
				height: 146px;
				border: $border-light;
				padding: 5px;
				margin-right: 5px;

				@media(min-width: 992px) and (max-width: 1199px) {
					margin-right: 3px;
					height: 140px;
				}

				@media(max-width: 480px) {
					margin-right: 2px;
					height: 120px;
				}
			}

			li:last-child {
				margin-right: 0;
			}

			img {
				max-height: 134px;
				max-width: 132px;
				margin: auto;

				@media(min-width: 992px) and (max-width: 1199px) {
					max-width: 108px;
				}

				@media(max-width: 480px) {
					max-width: 94px;
				}
			}
		}
	}

	.col-md-7 {
		margin-top: 8px;

		h1 {
			font-weight: bold;
			margin-bottom: 20px;
		}

		span,
		p.time-left,
		label {
			font-size: 22px;
			font-weight: 300;
		}

		div.quantity {
			margin: 10px 0;

			.form-control {
				width: 80px;
				display: inline;
				font-size: 18px;
				font-weight: 300;
				margin: 0 10px 4px;
			}

			span.in-stock {
				font-size: 18px;
				color: #555;
			}
		}

		.form-inline {
			display: inline;
			margin: 0 0 4px 20px;

			input {
				width: 90px;
			}

			button {
				margin: 0 0 4px 30px;;
			}
		}

		.payment-share {
			margin-top: 30px;

			span {
				font-size: 14px;
			}
		}

		.product-details {
			border-top: $border-light;
			margin-top: 30px;
		}
	}

	.similar-products {
		@media(max-width: 991px) {
			margin-bottom: 40px;
		}
		
		h3 {
			margin: 50px 0 30px;
		}

		.placeholder {
			@media(max-width: 767px) {
				margin-bottom: 30px;
			}
		}

		.product-frame {
			border: $border-light;
			padding: 5px;

			.img-holder {
				height: 180px;

				@media(min-width: 768px) and (max-width: 991px) {
					height: 150px;
				}

				@media(max-width: 512px) {
					height: 150px;
				}
			}

			img {
				max-height: 180px;
				margin: auto;

				@media(min-width: 768px) and (max-width: 991px) {
					height: 150px;
				}

				@media(max-width: 512px) {
					height: 150px;
				}
			}

			p {
				margin-top: 10px;
				min-height: 40px;

				@media(min-width: 992px) and (max-width: 1199px) {
					height: 60px;
				}

				@media(min-width: 768px) and (max-width: 991px) {
					height: 80px;
				}

				@media(max-width: 512px) {
					height: 80px;
				}
			}
		}
	}

	.title-border-bottom {
		margin: 50px 0 20px 0px;
		border-bottom: $border-light;
	}

	.rating-feedback {
			
		h3 {
			display: inline;
		}

		img {
			padding-bottom: 8px;
		}

		form {
			margin-bottom: 70px;

			.btn {
			margin-top: 10px;
			}
		}

		.feedback {
			margin-top: 20px;

			span {
				font-family: $second-font;
			}

			span.name {
				margin-right: 10px;
			}

			p {
				margin: 8px 0;
			}

			a {
				color: $color-red;
				font-family: $second-font;
			}

			a:hover {
				color: $color-black;
			}
		}
	}

	.bid-history {

		.title-border-bottom {
			margin-top: 58px;
		}

		.table > tbody > tr > td {
			border-top: none;
			padding: 6px 8px;
		}
	}
}

